@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/homeindex.css" />

<section class="hero-section text-center">
    <div class="container">
        <h1 class="display-4 fw-bold">
            Hi, I'm <span class="animated-name text-primary">Santosh Dhabdage</span>
        </h1>
        <p class="lead mt-3">
            Full Stack Developer | ASP.NET Core MVC | Clean UI & Web Solutions
        </p>
        <a href="/Home/Projects" class="btn btn-primary btn-lg mt-4 shadow-sm">
            View My Work
        </a>
    </div>
</section>
